FAIRS/resources/checkpoints/*
FAIRS/resources/database/metadata/*
FAIRS/resources/database/validation/*

FAIRS/setup/python/*
FAIRS/setup/.env

__pycache__
*.vscode
*.json
*.db
*.log
*.lock
*.venv
*.egg-info
!.gitkeep
