FAIRS/resources/checkpoints/*
FAIRS/resources/database/dataset/*
FAIRS/resources/database/metadata/*
FAIRS/resources/database/validation/*
FAIRS/resources/database/inference/*

FAIRS/setup/python/*
FAIRS/setup/.env

__pycache__
*.vscode
*.egg-info
*.json
*.db
*.log
!.gitkeep
